<div class="create-container">
  <h2>Cadastro</h2>
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input matInput  [(ngModel)]="userCreate.email" type="email" id="email" name="email" required />
      <label for="password">Senha</label>
      <input matInput [(ngModel)]="userCreate.password" type="password" id="password" name="password" required />
      <div class="checkbox-group">
        <label for="client">
          <input type="checkbox" id="client" name="client" />
          Marque se for cliente
        </label>
      </div>
      <button  (click)="createUser()" type="button" [disabled]="!loginForm.form.valid">
        Cadastrar
      </button>
    </div>
  </form>
</div>
