<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <mat-list-item routerLink="/">
        <a>
          <i class="material-icons"> pets </i>
          Início
        </a>
      </mat-list-item>
      <mat-list-item routerLink="/camera">
        <a>
          <i class="material-icons"> videocam </i>
          Câmeras
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
