.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    color: #fff !important;
}
.sidenav i {
    padding-right: 5px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}