<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <mat-list-item routerLink="/home">
        <a>
          <i class="material-icons"> pets </i>
          Início
        </a>
      </mat-list-item>
      <mat-list-item routerLink="/camera">
        <a>
          <i class="material-icons v-middle"> videocam </i>
          Câmeras
        </a>
      </mat-list-item>
      <mat-list-item routerLink="/login">
        <a>
          <i class="material-icons v-middle"> person </i>
          Usuários
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-card class="home mat-elevation-z3">
      <mat-card-title class="title"> 
        Bem Vindo! 
      </mat-card-title>
      
      <mat-card-subtitle class="subtitle">
        Sistema para exemplificar o monitoramento Real-time de Pets em Clínicas
        Veterinárias. TCC Univesp
      </mat-card-subtitle>
    </mat-card>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
