table {
    width: 100%;
}
.edit {
    margin-right: 15px;
}
.edit > i {
    color: #2dbe28;
}

.delete > i {
    color:#E35E6B;
    margin-right: 15px;
}
.videocam {
    color: darkgreen;
}
.webcam-frame {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
.webcam-close {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }